:root {
  --primary-background: #000000;
  --text-black: #14213d;
  --text-yellow: #fca311;
  --text-yellow-hover: #FE621D;
  --text-gray: #e5e5e5;
  --text-gray-hover: #dfdcdc;
  --text-white: #ffffff;
  --desktop: 1024px;
  --mobile: 580px;
}

@font-face {
  font-family: "Delmon";
  src: url("../fonts/delmon-delicate.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Delmon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button:hover, a:hover {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.title {
  letter-spacing: 6px;
}

.navbar {
  background: var(--primary-background);
  padding: 1em 2em;
  position: sticky;
  top: 0;
  z-index: 999;
  gap: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.navbar .logo {
  gap: 1em;
  display: flex;
  justify-content: start;
}
.navbar .logo img {
  width: 50px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .menu a {
  font-weight: bold;
  text-decoration: none;
  color: var(--text-white);
}
.navbar .menu a:hover {
  color: var(--text-yellow);
  transition: color 0.3s;
}
.navbar .nav-list {
  gap: 1em;
  display: flex;
  justify-content: end;
}
.navbar .nav-list a {
  text-decoration: none;
  color: var(--text-white);
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.5em 1em;
  border-radius: 20px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
.navbar .nav-list a:hover {
  color: var(--text-gray);
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.navbar .nav-list .login {
  background: var(--text-white);
  -webkit-text-fill-color: var(--text-black);
}
.navbar .nav-list .login:hover {
  -webkit-text-fill-color: var(--text-yellow);
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.container {
  padding: 1em 2em;
}

.home {
  background-image: url("../img/hotel-background-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
}
.home .filter {
  filter: unset;
  color: var(--text-white);
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotels {
  padding: 1em 2em;
  height: 100vh;
  margin-bottom: 10em;
}
@media screen and (min-width: 1024px) {
  .hotels {
    padding: 1em 15em;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .hotels {
    padding: 1em 10em;
    grid-template-columns: repeat(2, 1fr);
  }
}
.hotels h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 40px;
  letter-spacing: 6px;
}
.hotels .hotel-list {
  gap: 1em;
  display: grid;
  padding-bottom: 10em;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 1024px) {
  .hotels .hotel-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.hotels .hotel-list .card {
  border: 1px solid;
  border-color: var(--text-gray);
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.hotels .hotel-list .card:hover {
  scale: 1.03;
  scale: 1;
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.hotels .hotel-list .card .image-container img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.hotels .hotel-list .card .content-container {
  padding: 1em;
  display: grid;
  gap: 8px;
}
.hotels .hotel-list .card .content-container .header {
  gap: 1em;
  display: flex;
  justify-content: space-between;
}
.hotels .hotel-list .card .content-container .header span {
  gap: 8px;
  display: flex;
}
.hotels .hotel-list .card .content-container .header svg {
  color: var(--text-yellow);
}
.hotels .hotel-list .card .content-container .location {
  gap: 0.5em;
  display: flex;
}
.hotels .hotel-list .card .content-container .feature {
  display: block;
}
.hotels .hotel-list .card .content-container .button {
  margin-top: 1em;
  gap: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hotels .hotel-list .card .content-container .button button {
  width: 100%;
  background-color: transparent;
  border: 1px solid;
  border-color: var(--text-gray);
  border-radius: 10px;
  padding: 0.5em 1em;
  font-weight: bold;
}
.hotels .hotel-list .card .content-container .button button:hover {
  cursor: pointer;
}
.hotels .hotel-list .card .content-container .button .booking button {
  background-color: var(--text-yellow);
  color: var(--text-white);
}
.hotels .hotel-list .card .content-container .button .booking button:hover {
  background-color: var(--text-yellow-hover);
}
.hotels .hotel-list .card .content-container .button .detail button {
  color: var(--text-black);
  background-color: var(--text-white);
  border: 1px solid var(--text-black);
}
.hotels .hotel-list .card .content-container .button .detail button:hover {
  transition: color 0.02s;
  color: var(--text-yellow-hover);
  background-color: var(--text-white);
  border: 1px solid var(--text-yellow-hover);
}

.container-login {
  gap: 2em;
  display: grid;
  padding: 4em 2em;
}
@media screen and (min-width: 1280px) {
  .container-login {
    padding: 4em 30em;
  }
}
@media screen and (min-width: 768px) {
  .container-login {
    padding: 4em 15em;
  }
}
.container-login .form-group {
  gap: 2em;
  display: grid;
}
.container-login .form-group input {
  width: 100%;
}
.container-login .form-group .p-icon-field, .container-login .form-group .p-password {
  width: 100%;
}
.container-login .form-input {
  gap: 1em;
  display: grid;
}
.container-login .form-button {
  gap: 1em;
  display: grid;
}
.container-login .form-button button {
  width: 100%;
  background-color: var(--primary-background);
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.container-login .form-button button:hover {
  color: var(--text-yellow);
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.container-login .form-button button .p-button-label, .container-login .form-button button span {
  transition-duration: unset;
}
.container-login .form-button p {
  gap: 7px;
  display: flex;
  justify-content: center;
}
.container-login .form-button a {
  text-decoration: none;
  color: var(--text-black);
  font-weight: bold;
}
.container-login .form-button a:hover {
  color: var(--text-yellow);
  text-decoration: underline;
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.container-login .form-button .signup {
  text-decoration: none;
  color: var(--text-black);
  font-weight: bold;
}
.container-login .form-button .signup:hover {
  cursor: pointer;
  color: var(--text-yellow);
  text-decoration: underline;
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}/*# sourceMappingURL=main.css.map */