@import "./mixins.scss";

:root {
  --primary-background: #000000;
  --text-black: #14213d;
  --text-yellow: #fca311;
  --text-gray: #e5e5e5;
  --text-white: #ffffff;
  --desktop: 1024px;
  --mobile: 580px;
}

@font-face {
  font-family: "Delmon";
  src: url("../fonts/delmon-delicate.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Delmon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

// =========================================================================
// NAVBAR
// =========================================================================
.navbar {
  background: var(--primary-background);
  padding: 1em 2em;
  position: sticky;
  top: 0;
  z-index: 999;
  gap: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .logo {
    gap: 1em;
    display: flex;
    justify-content: start;

    img {
      width: 50px;
      height: auto;
      object-fit: contain;
    }
  }

  .nav-list {
    gap: 1em;
    display: flex;
    justify-content: end;

    a {
      color: var(--text-white);
      text-decoration: none;
      @include smooth-transition;
      padding: 0.5em 1em;
      border-radius: 20px;
      font-weight: bolder;

      &:hover {
        color: var(--text-gray);
        @include smooth-transition;
      }
    }

    .login {
      background: var(--text-white);
      -webkit-text-fill-color: var(--text-black);

      &:hover {
        background: var(--text-gray);
        @include smooth-transition;
      }
    }
  }
}

// =========================================================================
// CONTAINER
// =========================================================================
.container {
  padding: 1em 2em;
}

// =========================================================================
// HOME
// =========================================================================
.home {
  background-image: 
  linear-gradient(black, gray),url("../img/hotel-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: saturation;
  height: 80vh;  
  position: relative;

  .filter {
    filter: unset;
    color: var(--text-white);
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// =========================================================================
// HOTELS
// =========================================================================
.hotels {
  padding: 1em 15em;

  .hotel-list {
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .card {
      border: 1px solid;
      border-color: var(--text-gray);
      @include standard-transition;

      &:hover {
        scale: 1.03;
        scale: 1;
        @include standard-transition;
      }

      .image-container {
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }

      .content-container {
        padding: 1em;

        .header {
          gap: 1em;
          display: flex;
          justify-content: space-between;
        }

        .location {
          gap: .5em;
          display: flex;
        }

        .feature {
          display: block;
        }

        .button {
          gap: 1em;
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          button {
            width: 100%;
            background-color: transparent;
            border: 1px solid;
            border-color: var(--text-gray);
            border-radius: 10px;
            padding: .5em 1em;
            font-weight: bold;
          }

          .booking {
            button {
              background-color: var(--text-yellow);
              color: var(--text-black);
            }
          }

          .detail {
            button {
              background-color: var(--text-gray);
            }
          }
        }
      }
    }
  }
}
