body {
    // =========================================================================
    // DIALOG
    // =========================================================================
    &.dialog-booking {
        .p-dialog-header {
            display: none;
        }
    
        .p-dialog-content {
            border-radius: 6px;
            padding: 2em;
        }
    }
}